Doctype html
        head
            title Exercice
        body
            h1#myHeading Welcome
            h3 Justify your text with our application
            p To authenticate use #[strong /api/token]
            p To justify your text use #[strong /api/justify]

